@import "./mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --screen-size: #{$baseScreenSize};
  
  font-style: normal;
  font-weight: 500;

  @include mobile {
    --screen-size: #{$mobileScreenSize};
  }
}
