@import './styles/mixins.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #1f2833;

  margin: size(50) size(200);

  padding: size(15);

  border-radius: size(10);

  @include mobile {
    margin: size(10) size(20);
    padding: size(5);
  }
}

.wrapper {
  display: flex;
  gap: size(30);
  @include mobile {
    flex-direction: column;
    gap: size(20);
  }
}

.imageBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: size(20);

  @include mobile {
    gap: size(20);
  }
  // gap: size(30);
}

.imageWrapper {
  width: size(300);

  img {
    width: 100%;
    object-fit: contain;
    border-radius: size(20);
  }

  @include mobile {
    width: auto;
  }
}

.videoWrapper {
  width: 100%;

  video {
    width: 100%;
  }
}
